DATABASE_URL=postgresql+psycopg://shini:shini@postgres:5432/shini

VK_TOKEN=
VK_API_VERSION=5.199
VK_CHAT_ID=

HOST=0.0.0.0
PORT=8000

# Для CORS (через запятую)
CORS_ORIGINS=https://shini-phi.vercel.app,http://localhost:5173
